*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    padding: 1%;
    width: 80%;
     margin: 0 auto;
}
.text-center{
    text-align: center;
}
.clearfix{
    float: none;
    clear: both;
}
.tbl-full{
    width: 100%;
}
.tbl-30{
    width: 30%;
}
table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}
table tr td{
    padding: 1%;

}
.btn-primary{
    background-color: #7986CB;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;


}
.btn-primary:hover{
    background-color: #1A237E;
}
.btn-secondery{
    background-color: #009688;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;


}
.btn-secondery:hover{
    background-color:#00796B;
}
.btn-danger{
    background-color: #FF3D00;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;


}
.btn-danger:hover{
    background-color: #DD2C00;
}
.success{
    color: #00796B;
}
.error{
    color: #FF3D00;
}

.menu{
    border-bottom: 1px solid gray;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #ff6b81;
}
.menu ul li a:hover{
    color: #ff4757;
}
.main-content{
    background-color: #f1f2f6;
    padding: 1% 0;
}
.col-4{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}
/* css for footer*/
.footer{
    background-color: #ff4757;
    color: white;
}
.login{
    border: 1px solid gray;
    width: 30%;
    margin: 10% auto;
    padding: 2%;
}